@tailwind base;
@tailwind components;
@tailwind utilities;

@import "../utils/themes/colors.scss";
@import "../utils/themes/dark.scss";
@import "../utils/themes/light.scss";

html {
  font-size: 62.5%;
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--primary);
}

body {
  font-size: 1.6rem;
  @apply grid grid-cols-[20vw_1fr] grid-rows-[60px_1fr] gap-8 bg-body;
}

.content {
  @apply col-start-2 row-start-2 bg-primary p-6 my-6 w-[99%] rounded-lg mx-auto;
}

.btn-header {
  @apply text-4xl mx-1 p-4 rounded-full bg-gray bg-opacity-0 transition duration-200 hover:bg-opacity-20;
}
